@model LogisticsGroup.Domain.Entities.Vehicle

@{
    ViewData["Title"] = "Додати машину";
}

<div class="container p-3">
    <div class="row pt-4">
        <h2 class="text-primary">Додати нову машину</h2>
        <hr />
    </div>

    <form method="post" asp-action="Create">
        <div class="border p-3 mt-4">
            
            <div class="mb-3">
                <label asp-for="Brand" class="form-label">Марка авто</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LicensePlate" class="form-label">Номерний знак (напр. ВХ1234АА)</label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Capacity" class="form-label">Вантажопідйомність (у тоннах)</label>
                <input asp-for="Capacity" type="number" step="0.1" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Status" class="form-label">Статус (напр. Вільна, В ремонті)</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary" style="width:150px">Зберегти</button>
                <a asp-controller="Vehicle" asp-action="Index" class="btn btn-secondary" style="width:150px">
                    Скасувати
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}